footer
  nav.navbar.navbar-expand-xl
    .container-fluid
      a.navbar-brand(href="#")
        img(src="img/Logo.svg", alt="", width="100", height="100")
      nav.container-fluid.nav-fill
        ul.navbar-nav
          li.nav-item
            p ООО "РЕВАЙТАЛАЙФ" | ОГРН 1197746735009 <br>Юр. адрес: Москва, Б. Очаковская ул., д. 31
          li.nav-item
            p Москва © 2022 <br>ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ. НЕОБХОДИМА <br>КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА
          li.nav-item
            a.nav-link Политика конфиденциальности
          li.nav-item
            p Designed by
            a.nav-link Sarat Lazarenko