header
  nav.navbar.navbar-expand-xl
    .container-fluid
      a.navbar-brand(href="#")
        img(src="img/Logo.svg", alt="", width="100", height="100")
      nav.container-fluid.nav-fill
        ul.navbar-nav
          li.nav-item
            p Хирургический стаж в <br>эстетической медицине <br>с 2014 года
          li.nav-item
            img(src="img/klinik.png", alt="", width="60", height="60")
          li.nav-item
            p Двухэтажная клиника 1000 кв.м <br>открылась в 2020 году в Москве 
            a.nav-link Посмотреть видео о клинике
          li.nav-item
            img(src="img/5_2.png", alt="", width="60", height="60")
          li.nav-item
            p Рейтинг клиники согласно
            a.nav-link отзывам наших пациентов
          li.nav-item
            img(src="img/whatsapp.svg", alt="", style="width: 4rem; height: 4rem;")
          li.nav-item
            img(src="img/plane.svg", alt="", style="width: 4rem; height: 4rem;")
          li.nav-item
            p Звоните, Пн-ВС 8:00 - 21:00
            p +7 (499) 286 88 60
            a.nav-link Москва, ул. Б. Очаковская, д.31
  ul.nav.justify-content-between.container-fluid(style="background-color: #FFFFFF; border-radius:5px; padding: .8rem; height: 4rem")
    li.nav-item
      a.nav-link.active(aria-current="page" href="#") СТОИМОСТЬ
    li.nav-item
      a.nav-link ПОДРОБНО ОБ ОПЕРАЦИИ
    li.nav-item
      a.nav-link О ДОКТОРЕ
    li.nav-item
      a.nav-link ИСТОРИИ ПАЦИЕНТОВ
    li.nav-item
      a.nav-link КЛИНИКА
    li.nav-item
      a.nav-link ОТВЕТЫ НА ВОПРОСЫ
    li.nav-item
      a.nav-link ДИПЛОМЫ
    li.nav-item
      a.nav-link КОНТАКТЫ

  .container
    .row
      .col-xl-9.row
        h1 Ринопластика 110 000 рублей в рассрочку от 20 минут
        h2 Приходите на консультацию, если хотите:
        .col-xl-9.row
          .col-xl-6
            ul
              li <b>Укоротить, приподнять</b><br>или опустить нос
              li <b>Восстановить после травмы</b> <br>или убрать горбинку
          .col-xl-6
            ul
              li <b>Расширить или сузить</b> <br>кончик носа
              li <b>Начать</b> нормально дышать
        .col-xl-3.row
          .text-center
            img(src="img/about_operation.png", alt="", style="width: 5rem; height: 5rem; margin: 0% 0% 0% 5%;")
            div <b>Результат операции</b> <br>видео 15 сек.
        .row
          .col-xl-5
            button.btn.btn-dark.d-flex.align-items-center.justify-content-between(type="button", style="width: 95%; background-color: #597FAE; border-color: #597FAE; border-radius:1000px; padding: 1rem 2rem")
              div Записаться на бесплатную <br>консультацию с фотомоделированием
              img(src="img/Vector.svg", alt="", style="width: 1.5rem; height: 1.5rem; margin: 0% 0% 0% 5%")
            div * Акция действительна до: 11.05.2022
          .col-xl-5
            div Есть вопросы? <br>Спросите ONLINE
            img(src="img/whatsapp.svg", alt="", style="margin: 0%; width: 4rem; height: 4rem;")
            img(src="img/plane.svg", alt="", style="margin: 0% 0% 0% 5%; width: 4rem; height: 4rem;")
          .col-xl-2.text-center
            .badge.text-wrap(style="width: 12rem; height: 3rem; padding: 1rem; margin: 30% 0% 0% 0%; background: #52AE95") Константин Харитонов
            .text Пластический хирург <br>клиники “Revitalife”
      .col-xl-3
        img.col-xl-4.card-img-left(src="img/surgeon_photo.png", alt="", style="float: right; width: 50%; height: 50%;")
        
          //- img(src="img/surgeon_photo_1.png", alt="", style="padding: 0% 40%; float: left")




