.map
  .wrp
    .map-box
      h2 Наши контакты
      p г. Москва, Тверская 7
      p
        a(href="tel:+7 (495) 123-45-67") +7 (495) 123-45-67
      p
        a(href="mailto:info@site.com") info@site.com
    #map
