section.specialization
  nav(style="padding: 0% 3%")
    h2.text-center Мы специализируемся <b>на операциях:</b>
    .row.text-center
      .col
        .card
          h3 1
          .card-body
            h5.card-title Коррекция кончика носа
            .card-text Восстановление гармоничных очертаний носа, не затрагивая опорные структуры
      .col
        .card
          h3 2
          .card-body
            h5.card-title Пластика крыльев носа
            .card-text Позволяет изменить ширину, толщину, симметричность ноздрей
      .col
        .card
          h3 3
          .card-body
            h5.card-title Рино-пластика
            .card-text Комплексная коррекция носовых структур, не затрагивающая перегородку
      .col
        .card
          h3 4
          .card-body
            h5.card-title Рино-септопластика
            .card-text Выравнивание носовой перегородки с последующим исправлением формы носа
      .col
        .card
          h3 5
          .card-body
            h5.card-title Посттравмати-ческая пластика
            .card-text Устранение деформаций после травм
      .col
        .card
          h3 6
          .card-body
            h5.card-title Вторичная ринопластика
            .card-text Коррекция результатов после ранее проведенной ринопластики
    .text-center
      a(href="#") Посмотреть медицинскую лицензию
      h2 Подробно <b>об операции</b>
      ul.nav.nav-pills.nav-fill
        li.nav-item
          button.btn.btn-outline-secondary(aria-current="page" href="#") Показания к операции
        li.nav-item
          button.btn.btn-outline-secondary(aria-current="page" href="#") Противопоказания
        li.nav-item
          button.btn.btn-outline-secondary(aria-current="page" href="#") В день операции
        li.nav-item
          button.btn.btn-outline-secondary(aria-current="page" href="#") Реабилитация
    .row
      ul.col-xl
        li Горбинка
        li Широкие непропорциональные переносица или крылья носа
        li Просевшая спинка носа («седловидное» западение)
      ul.col-xl
        li Слишком длинный или короткий нос
        li «Вывернутые», излишне объемные или узкие ноздри
        li Неэстетичный кончик носа (чрезмерно острый, нависающий, раздвоенный, мясистый, крючковидный)
      ul.col-xl
        li Диспропорция частей носа
        li Врожденная или посттравматическая деформация
        li Искривленная перегородка, препятствующая нормальному дыханию, а также имеющая неэстетичный вид
    .text-center В ходе одной ринопластики <b>может быть скорректировано несколько дефектов,</b> включая одновременную коррекцию спинки, крыльев, кончика.
    .card
      .row
        .col-xl-3
          img(src="img/surgeon_photo_1.png", alt="", style="padding: 0% 40%; float: left")
          //- img.card-img-left(src="img/surgeon_photo_1.png", alt="", style="width: 75%; height: 100%;")
        .col-xl-9(style="padding: 3% 0%")
          h3.card-title Пластический хирург о ринопластике:
          h6 Есть <b>2 типа ринопластики</b>, которые используются наиболее часто:
          ul.card-text 
            li
              p <b>Открытая</b> -  я использую в сложных случаях при необходимости устранения посттравматических деформаций наружного носа и носовой перегородки. При этой технике все мягкие ткани носа поднимаются.
            li
              p <b>Закрытая</b> - менее травматична и этот метод я использую при первичной ринопластике. Все манипуляции происходят через небольшие разрезы в носовых ходах, благодаря чему снаружи никаких следов не остается.
          p <b>Я применяю оба метода в зависимости от конкретного случая пациента.</b> Всё зависит от того, какая проблема изначально. Часто именно правильно подобранный тип ринопластики позволяет избежать возможных нежелательных последствий»
          a(href="#") Подробнее о хирурге клиники “Revitalife”

    .row
      .col-xl-6
        h3 При любой операции в нашей клинике <b>вы получаете:</b>
        p Все очные консультации проходят в клинике REVITALIFE по адресу: г. Москва, ул. Большая Очаковская, дом 31 Ежедневно с 8:00 до 21:00 Подробнее о клинике 
      .col-xl-6.row   
        .col-xl-6  
          img(src="img/hand.svg", alt="", style="width: 4rem; height: 4rem;")
          h5 Поддержка
          p Хирург ответит на любые вопросы, связанные с операцией. Особенно в период реабилитации
        .col-xl-6  
          img(src="img/hand.svg", alt="", style="width: 4rem; height: 4rem;")
          h5 Консультации
          p Бесплатные консультации до и после операции
    .row
      .col-xl.row
        .col-xl
          img(src="img/hand.svg", alt="", style="width: 4rem; height: 4rem;")
          h5 Фотомоделирование будущего носа
          p Это помогает мне лучше понять ваши ожидания и результат, к которому мы стремимся
        .col-xl 
          img(src="img/hand.svg", alt="", style="width: 4rem; height: 4rem;")
          h5 Современная анестезия и опытные анестезиологи
          p Никаких рисков и неприятных ощущений для пациента: легко засыпаем и легко просыпаемся красивыми
      .col-xl.row
        .col-xl 
          img(src="img/hand.svg", alt="", style="width: 4rem; height: 4rem;")
          h5 Пребывание в клинике и питание
          p После операции вы находитесь под наблюдением 1 сутки
        .col-xl 
          img(src="img/hand.svg", alt="", style="width: 4rem; height: 4rem;")
          h5 Послеоперационное восстановление
          p Все перевязки в послеоперационном периоде
    .card(style="position: relative;")
      img(src="img/surgeon_photo_2.png", alt="", style="padding: 0% 40%; float: right")
      .row(style="position: absolute; width: 100%")
        .col-xl-6(style="padding: 3% 2%")
          h2 Запишитесь бесплатно на консультацию или задайте вопрос
          p На консультации:
          ul
            li Выслушаем и вникнем в суть вашей ситуации
            li Бесплатно сделаем фотомоделирование
            li Сориентируем по стоимости и рассрочки
            li Объясним как будет проходить операция
            li Расскажем о реабилитации после операции
            li Звоните, Пн-ВС с 8:00 до 21:00
              .row
                .col-xl-6
                  h4 7 (499) 286 88 60
                .col-xl-6
                  div Или пишите, <br>мы онлайн
                  img(src="img/whatsapp.svg" alt="" style="margin: 0%; width: 4rem; height: 4rem;")
                  img(src="img/plane.svg" alt="" style="margin: 0% 0% 0% 5%; width: 4rem; height: 4rem;")
        .col-xl-3.text-center(style="margin: 0% 0% 0% 15%; padding: 3% 2%;")
          h5 <b>Заполните форму</b>, <br>и мы свяжемся с вами в течение <br>5 минут в рабочее время
          input.form-control(type="text", placeholder="Как вас зовут?", aria-label="Sizing example input", aria-describedby="inputGroup-sizing-default", style="margin: 5% 0%; border-radius: 2rem; height: 4rem;")
          input.form-control(type="text", placeholder="+7 ( _ _ _) _ _ - _ _ - _ _", aria-label="Sizing example input", aria-describedby="inputGroup-sizing-default", style="margin: 5% 0%; border-radius: 2rem; height: 4rem;")
          input.form-control(type="text", placeholder="Выберите тип консультации", aria-label="Sizing example input", aria-describedby="inputGroup-sizing-default", style="margin: 5% 0%; border-radius: 2rem; height: 4rem;")
          button.btn.btn-dark.d-flex.align-items-center.justify-content-between(type="button", style="width: 100%;background-color: #597FAE; border-color: #597FAE; border-radius:1000px; padding: 1rem 4rem")
            div Записаться на бесплатную <br>консультацию
            img(src="img/Vector.svg", alt="", style="width: 1.5rem;")
          .form-check
            label.form-check-label(for="dropdownCheck") Согласен с условиями обработки персональных данных
section.text-center
  h2 <b>Личные истории пациентов и случаи из практики</b> <br>за каждым стоит судьба человека
  .card(style="display: block; margin: 0% 0% 0% 0%; padding: 3% 2%;")
    img(src="img/whatsapp.svg" alt="Same_img" style="margin: 0%; width: 4rem; height: 4rem;")
    img(src="img/whatsapp.svg" alt="Same_img" style="margin: 0%; width: 4rem; height: 4rem;")
    img(src="img/whatsapp.svg" alt="Same_img" style="margin: 0%; width: 4rem; height: 4rem;")
    img(src="img/whatsapp.svg" alt="Same_img" style="margin: 0%; width: 4rem; height: 4rem;")
  ul.pagination.align-items-center.justify-content-center
    li.page-item
      spun.page-link.b-carousel__prev.js-carousel__prev(style="font-size: 2rem;") ←
    li.page-item
      spun.page-link.js-carousel__one(href="#") 1
    li.page-item
      spun.page-link.js-carousel__two(href="#") 2
    li.page-item
      spun.page-link.js-carousel__three(href="#") 3
    li.page-item
      spun.page-link.b-carousel__next.js-carousel__next(style="font-size: 2rem;") →
section.text-left
  img.card-img-left(src="img/surgeon_photo_1.png", alt="", style="float: right; width: 20%; height: 25%;")
  h2 Здравствуйте, меня зовут <br>Харитонов Константин Сергеевич
  div Мой хирургический стаж в эстетической медицине с 2014 года. Как и многим потомственным врачам, мне было суждено связать свою жизнь с медициной:
  ul
    li Мой дедушка - Харитонов Аркадий Игнатьевич был челюстно-лицевым хирургом Моя бабушка - Харитонова Евгения Игнатьевна была стоматологом
    li Мой отец - Харитонов Сергей Аркадьевич, ведущий хирург по ринопластике, врач высшей квалификационной категории, резидент ОСЭМ, эксперт русской и европейской школ ринохирургии
  div 2009-2016 Москва, Первый Московский государственный медицинский университет имени И.М. Сеченова, Лечебный факультет
  div 2016-2019 Москва, Филиал «Военно-медицинская академия имени С.М. Кирова», Ординатура по общей хирургии
  div 2019-2021 Рязанский государственный медицинский университет имени И.П. Павлова, Ординатура по пластической хирургии
  div С 2014 года встал к операционному столу в роли второго ассистента, а затем и первого в клинике эстетической медицины под руководством наставника–отца – ведущего хирурга по ринопластике, что предопределило мой дальнейший путь в профессии.
  div Я участвовал более чем в 1000 операций по пластической хирургии. Получал весь накопленный отцом опыт и учился под его руководством смотреть на несколько шагов вперед, предугадывать и сразу решать возможные проблемы.
  div С 2018 года я непрерывно провожу пластические операции, получая бесценный опыт. В данный момент принимаю и оперирую в клинике REVITALIFE, которая по праву считается лучшим медицинским учреждением.
  div Я регулярно принимаю участие в тематических симпозиумах, конференциях и мастер-классах, совершенствуя свои знания и практические навыки.
  div Подписывайтесь, в соц. сетях:
    img(src="img/whatsapp.svg" alt="" style="margin: 0%; width: 3rem; height: 3rem;")
    img(src="img/plane.svg" alt="" style="margin: 0% 0% 0% 3%; width: 3rem; height: 3rem;")
  .card
    h5 Константин Харитонов
    div “Я считаю, что самое главное в работе хирурга - найти контакт с пациентами. Пациенты ценят доктора за чуткое отношение и высокое мастерство, с которым он умеет приблизить черты внешности к идеальным”
.card
  .row
    .col-3
      h2 Безопасная операция
      div Клиника REVITALIFE несёт личную ответственность за безопасность операций
      div Дипломы и сертификаты:
    .col-9.row
      .col-4.text-center
        img(src="img/whatsapp.svg" alt="" style="margin: 0%; width: 3rem; height: 3rem;")
      .col-4.text-center
        img(src="img/whatsapp.svg" alt="" style="margin: 0%; width: 3rem; height: 3rem;")
      .col-4.text-center
        img(src="img/whatsapp.svg" alt="" style="margin: 0%; width: 3rem; height: 3rem;")
      ul.pagination.align-items-center.justify-content-center
        li.page-item
          spun.page-link.b-carousel__prev.js-carousel__prev(style="font-size: 2rem;") ←
        li.page-item
          spun.page-link.js-carousel__one(href="#") 1
        li.page-item
          spun.page-link.js-carousel__two(href="#") 2
        li.page-item
          spun.page-link.js-carousel__three(href="#") 3
        li.page-item
          spun.page-link.b-carousel__next.js-carousel__next(style="font-size: 2rem;") →
section.row
  .col-6.text-center
    img(src="img/whatsapp.svg" alt="" style="margin: 0%; width: 3rem; height: 3rem;")
    .row.justify-content-center
      .col.text-center 1
      .col.text-center 2
      .col.text-center 3
      .col.text-center 4
      .col.text-center 5
  .col-6.text-left
    h2 Несколько слов о клинике 
    p Все очные консультации и операции проходят здесь
    p Двухэтажная клиника “REVITALIFE” площадью 1000 м2 открылась в 2020 году. Но уже сейчас в ней проводится несколько операций ежедневно.
    ul(style="flex-wrap: wrap;")
      li Высококвалифицированный медицинский персонал находится в клинике 24/7
      li 1 и 2 местные палаты с системами постоянного мониторинга за состоянием пациента
      li Комфортабельный стационар европейского уровня и авторская кухня
      li Все палаты оснащены системой голосовой связи с персоналом
    .row
      .col-3
        img(src="img/whatsapp.svg" alt="" style="margin: 0%; width: 3rem; height: 3rem;")
        p Dr. Maysara Bahja
      .col-9
        P Основатель клиники “Revitalife” - Dr. Maysar, имеет опыт более 20 лет практической медицины в лучших клиниках Лондона. Он создал центр, основываясь на последних достижениях медицины и огромном личном опыте.
        P ПОСМОТРЕТЬ ВЫПИСКУ МЕДИЦИНСКОЙ ЛИЦЕНЗИИ НА САЙТЕ ПО НАДЗОРУ В СФЕРЕ ЗДРАВООХРАНЕНИЯ
        P С 1 января 2021 законодательством не предусмотрена выдача лицензии в бумажном варианте.
        a(href="#") Подробнее...
section(style="margin: 0%; height: 500px;")
  h2.text-center Отвечаем на ваши вопросы
  .row
    .accordion.col-lg-5(id="accordionExample", style="margin: 0%; list-style: none;")
      .accordion-item
        h3.accordion-header(id="headingOne")
          button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseOne", aria-expanded="false", aria-controls="collapseOne") С какого возраста можно делать ринопластику?
        .accordion-collapse.collapse(id="collapseOne", aria-labelledby="headingOne", data-bs-parent="#accordionExample")
          .accordion-body
            p Оптимальный возраст для проведения ринопластики - после 18 лет. К этому времени хрящи и кости носа завершают свой рост, поэтому хирург может спокойно работать с тканями, не боясь, что они сместятся после операции. В более молодом возрасте коррекцию делают только по неотложным медицинским показаниям (например, при серьезных нарушениях дыхания или после травмы).
      .accordion-item
        h3.accordion-header(id="headingTwo")
          button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseTwo", aria-expanded="false", aria-controls="collapseTwo") Какие анализы нужно сдавать перед операцией?
        .accordion-collapse.collapse(id="collapseTwo", aria-labelledby="headingTwo", data-bs-parent="#accordionExample")
          .accordion-body
            p Оптимальный возраст для проведения ринопластики - после 18 лет. К этому времени хрящи и кости носа завершают свой рост, поэтому хирург может спокойно работать с тканями, не боясь, что они сместятся после операции. В более молодом возрасте коррекцию делают только по неотложным медицинским показаниям (например, при серьезных нарушениях дыхания или после травмы).
      .accordion-item
        h3.accordion-header(id="headingThree")
          button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseThree", aria-expanded="false", aria-controls="collapseThree") Насколько больно будет после операции?
        .accordion-collapse.collapse(id="collapseThree", aria-labelledby="headingThree", data-bs-parent="#accordionExample")
          .accordion-body
            p Оптимальный возраст для проведения ринопластики - после 18 лет. К этому времени хрящи и кости носа завершают свой рост, поэтому хирург может спокойно работать с тканями, не боясь, что они сместятся после операции. В более молодом возрасте коррекцию делают только по неотложным медицинским показаниям (например, при серьезных нарушениях дыхания или после травмы).
      .accordion-item
        h3.accordion-header(id="headingFour")
          button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseFour", aria-expanded="false", aria-controls="collapseFour") После операции останутся шрамы?
        .accordion-collapse.collapse(id="collapseFour", aria-labelledby="headingFour", data-bs-parent="#accordionExample")
          .accordion-body
            p Оптимальный возраст для проведения ринопластики - после 18 лет. К этому времени хрящи и кости носа завершают свой рост, поэтому хирург может спокойно работать с тканями, не боясь, что они сместятся после операции. В более молодом возрасте коррекцию делают только по неотложным медицинским показаниям (например, при серьезных нарушениях дыхания или после травмы).
      .accordion-item
        h3.accordion-header(id="headingFive")
          button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseFive", aria-expanded="false", aria-controls="collapseFive") Как долго будут держаться синяки?
        .accordion-collapse.collapse(id="collapseFive", aria-labelledby="headingFive", data-bs-parent="#accordionExample")
          .accordion-body
            p Оптимальный возраст для проведения ринопластики - после 18 лет. К этому времени хрящи и кости носа завершают свой рост, поэтому хирург может спокойно работать с тканями, не боясь, что они сместятся после операции. В более молодом возрасте коррекцию делают только по неотложным медицинским показаниям (например, при серьезных нарушениях дыхания или после травмы).
    .accordion.col-lg-5(id="accordionExample", style="margin: 0%; list-style: none;")
      .accordion-item
        h3.accordion-header(id="headingSix")
          button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseSix", aria-expanded="false", aria-controls="collapseSix") Через сколько можно выходить на работу?
        .accordion-collapse.collapse(id="collapseSix", aria-labelledby="headingSix", data-bs-parent="#accordionExample")
          .accordion-body
            p Оптимальный возраст для проведения ринопластики - после 18 лет. К этому времени хрящи и кости носа завершают свой рост, поэтому хирург может спокойно работать с тканями, не боясь, что они сместятся после операции. В более молодом возрасте коррекцию делают только по неотложным медицинским показаниям (например, при серьезных нарушениях дыхания или после травмы).
      .accordion-item
        h3.accordion-header(id="headingSeven")
          button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseSeven", aria-expanded="false", aria-controls="collapseSeven") Когда можно начать заниматься спортом?
        .accordion-collapse.collapse(id="collapseSeven", aria-labelledby="headingSeven", data-bs-parent="#accordionExample")
          .accordion-body
            p Оптимальный возраст для проведения ринопластики - после 18 лет. К этому времени хрящи и кости носа завершают свой рост, поэтому хирург может спокойно работать с тканями, не боясь, что они сместятся после операции. В более молодом возрасте коррекцию делают только по неотложным медицинским показаниям (например, при серьезных нарушениях дыхания или после травмы).
      .accordion-item
        h3.accordion-header(id="headingEight")
          button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseEight", aria-expanded="false", aria-controls="collapseEight") Дается ли больничный?
        .accordion-collapse.collapse(id="collapseEight", aria-labelledby="headingEight", data-bs-parent="#accordionExample")
          .accordion-body
            p Оптимальный возраст для проведения ринопластики - после 18 лет. К этому времени хрящи и кости носа завершают свой рост, поэтому хирург может спокойно работать с тканями, не боясь, что они сместятся после операции. В более молодом возрасте коррекцию делают только по неотложным медицинским показаниям (например, при серьезных нарушениях дыхания или после травмы).
      .accordion-item
        h3.accordion-header(id="headingNine")
          button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseNine", aria-expanded="false", aria-controls="collapseNine") А что если я случайно повернуть на бок во сне? Нос будет испорчен?
        .accordion-collapse.collapse(id="collapseNine", aria-labelledby="headingNine", data-bs-parent="#accordionExample")
          .accordion-body
            p Оптимальный возраст для проведения ринопластики - после 18 лет. К этому времени хрящи и кости носа завершают свой рост, поэтому хирург может спокойно работать с тканями, не боясь, что они сместятся после операции. В более молодом возрасте коррекцию делают только по неотложным медицинским показаниям (например, при серьезных нарушениях дыхания или после травмы).
      .accordion-item
        h3.accordion-header(id="headingTen")
          button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#collapseTen", aria-expanded="false", aria-controls="collapseTen") Можно ли вернуть налоговый вычет за операцию?
        .accordion-collapse.collapse(id="collapseTen", aria-labelledby="headingTen", data-bs-parent="#accordionExample")
          .accordion-body
            p Оптимальный возраст для проведения ринопластики - после 18 лет. К этому времени хрящи и кости носа завершают свой рост, поэтому хирург может спокойно работать с тканями, не боясь, что они сместятся после операции. В более молодом возрасте коррекцию делают только по неотложным медицинским показаниям (например, при серьезных нарушениях дыхания или после травмы).
  img.card-img-left(src="img/surgeon_photo_1.png", alt="", style="float: right; width: 20%; height: 65%;")