doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Константин Сергеевич Харитонов
    link(rel="shortcut icon", href="img/favicon.svg", type="image/svg")
    <!-- CSS only -->
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css", rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor", crossorigin="anonymous")
    link(rel="stylesheet", href="owlcarousel/assets/owl.carousel.min.css")
    link(rel="stylesheet", href="owlcarousel/assets/owl.theme.default.min.css")
    link(rel="stylesheet", href="style.css")
    script(type="text/javascript", src="http://webapi.amap.com/maps?v=1.3&key=667cbbf11eee369b935122434f031a4d")
  body
    include modules/header
    include modules/main
      <!-- JavaScript Bundle with Popper -->
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js", integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2", crossorigin="anonymous")
    script(src="owlcarousel/owl.carousel.min.js")
    script(src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU")
    script(src="script.js")